<h2>Perfil de {{usuario.nombre}}</h2><br><br>

<p>

    Nombre:{{usuario.first_name}} <br><br>
    Rol:{{usuario.rol}} <br><br>
    Email:{{usuario.email}} <br><br>
    Cart:{{usuario.cart}}
    
</p>

